/* Main Page */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.foods{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow:0 1pt 1pt 0pt black;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.food_page__layout{
    display: flex;
}
.food__container>.food__details{
   font-weight: normal;
   font-family: 'Questrial', sans-serif;
}

/* Selected */
.food__selected{
    width: 70%;
    background-color: rgba(245, 245, 245, 0.459);
    box-shadow: 0 0 1pt 1pt rgba(128, 128, 128, 0.25);
    margin-right: 10px;   
    display: flex;
    flex-direction: column;
}
.food__selected>h1{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 20px;
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
    background-color: #E6E6E6;
}
.food__container{
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    
}
.food__selected .load__more{
    background-color: rgb(211, 211, 211);
    border: none;
    width: 50%;
    align-self: center;
}
.food__selected>.food__container>img{
    height: 100%;
    width: 40%;
    object-fit:cover;
}
.food__details{
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.075);
    height: 100%;
    width: 100%;
}
.food__details>h1{
    font-size: 20px;
    font-weight: bolder;
}
.food__details>h2{
    font-size: 20px;
}
.food__details>.read__more_link{
    align-self: flex-end;
    padding: 5px;
    text-decoration: none;
    background-color: #23231A;
    color: white;
}
/* Featured */
.food__featured{
    width: 30%;
    box-shadow: 0 0 1pt 1pt rgba(128, 128, 128, 0.25);
    background-color: rgba(245, 245, 245, 0.459);
}
.food__featured>h1{
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    background-color: #E6E6E6;
}
.food__featured>.food__container{
   flex-direction: column;
   border-right: none;
   
}
.food__featured>.food__container>img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    transform:scale(.8)
 }
.food__featured>h1{
    text-align: center;
}
@media screen and (max-width:1024px){
    .foods{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    .foods{
        width: 80%;
    }
    .food__selected{
        width: 100%;
    }
   .food__container{
        display: flex;
        flex-direction: column;
        border-right: none;
        height: 100%;
    }
  
    .food__selected>.food__container>img{
        width: 100%;
    }
    /* Main page 425 */
    .food_page__layout{
        flex-direction: column;
    }
    /* Food selected 425 */
    .food__selected{
        width: 100%;
    }
    /* Food featured */
    .food__featured{
        width: 100%;
        border: none;
    }


}
@media screen and (max-width:425px){
    .foods{
        width: 100%;
    }
}