@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
.food_tab{
    width: 100%;
    height: 100vh;
}
.food__title{
    display: flex;
    background-color: rgb(94, 94, 94);
    color: white;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}
.food__title>button{
    background-color: transparent;
    color: limegreen;
    border: none;
    outline: none;
    border-radius: 50%;
}
.food__title>button:active{
    transition: .1s;
    transform: scale(1.2);
}
::-webkit-scrollbar{
    display: none;
}
/* Food Table */
.food__table{
    width: 100%;
   table-layout: fixed;

}
/* TABLLE HEAD */
thead{
    display: block;
}


.food__table>thead{
    background-color: rgb(218, 218, 218);
    font-size: 20px;
  
}
.food__table>thead>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
    color: rgb(94,94,94);

}
.food__table>thead>tr>th{
    padding: 5px;
}
/* TABLE BODY */
.food__table>tbody{
    height: 85vh;
    overflow-y: scroll;
    display: block;
}
.food__table>tbody>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
    font-weight: bold;
    
}
.food__table>tbody>tr>td{
    width: 100%;
    padding: 5px;
    font-weight: normal;
    word-break: break-all
}
.food__table>tbody>tr:nth-child(even){
    background-color: rgb(218, 218, 218);
}
td>ul>li{
    text-decoration: none;
    list-style: none;
}
/* TABLE DATA IMAGE */
.food__table>tbody>tr>td>img{
    width: 100%;
    height: 5rem;
    object-fit: cover;
}

/* TABLE DATA ACTIONS */
.food__table>tbody>tr>td>div{
    display: flex;
    justify-content: space-around;
}

.food__table>tbody>tr>td>div>button{
    
    border: none;
    color: white;
    font-weight: bolder;
    width: 45%;
}
.delete{
    background-color: rgb(241, 69, 57);
}
.edit{
    background-color: blue;
}
/* Food Modal Form */
.food__modal{
    background-color: rgb(151, 151, 151);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 35rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
}
.food__modal_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.food__modal_form>textarea{
    resize: none;
    height: 100px;
}
.food__modal_form>input[type=submit]{
    background-color: rgb(106, 220, 255);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}
.food__modal_form>input[type=submit]:active{
    transition: .1s;
    box-shadow: 0 0 2pt 1pt rgb(105, 165, 255);

}
.food__modal>button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 1rem;
    color: red;
    outline: none;
    margin-left:95%;
}
.food__modal_form>.images>img{
    width: 5rem;
    height: 5rem;
}
.food__modal_form>.images{
    display: flex;
}
@media screen and (max-width:1200px){
    .food__modal{
        margin-left: 10%;
       
    }
}
@media screen and (max-width:1024px){
    .food__table>thead>tr,.food__table>tbody>tr{
        font-size: 7px;
    }
    .food__modal{
        margin-left: unset;
        height: 35rem;
        width: 40rem;
    }
}
@media screen and (max-width:768px){
    .food__modal{
       padding: 5px;
        width: 100%;
        height: 100%;
    }
}