*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.admin{
    overflow-y: hidden;
    display: flex;
}
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
.admin__navLinks{
    background-color: whitesmoke;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 100vh;
    width: 20vw;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 199;
}
.admin__navLinks >h1{
    font-size: 3rem;
}
.admin__navLinks>.navLink{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    width: 100%;
    font-size: 2rem;
}
.navLink__active{
    background-color: rgba(0, 0, 0, 0.452);
    border: unset;
    color: whitesmoke;
}
@media screen and (max-width:1024px), screen and (max-width:425px){
    .admin>.navigation__button{
        display: flex;
    }
    .admin__navLinks{
        height: 100vh;
        width: 30vh;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        transition: 1s;
        left: -100%;
    }
    .admin__navLinks_open{
        transition: 1s;
        left: 0%;
    }
}